@using DBProject.Models;
@model List<Customer>

    <div class="text-center">
        <h4 class="display-6">Current Customers</h4>
        <a class="btn btn-outline-primary btn-sm" asp-action="Create" asp-controller="Cust">CREATE</a>
        <div class="card align-items-center">
            @foreach(var c in Model)
            {
                <div class="card col-lg-3 m-1">
                <div class="card bg-white h4 align-items-center">
                        @c.LastName, @c.FirstName<br />
                    <a class="btn btn-link btn-sm col-6 m-3" asp-action="Details" asp-route-id="@c.Id" asp-controller="Cust">Details</a>
                    <a class="btn btn-link btn-sm col-6 m-3" asp-action="Delete" asp-route-id="@c.Id" asp-controller="Cust">Delete</a>
                </div>
                </div>
            }
        </div>
    </div>